div {
width: 100%;
}

input {
    width: 92%;
    color: green
}

input:hover {
    color: red;
}

button {
    color: green;
    width: 7%;
    height: 2em;
    padding-left: 10px;
    padding-right: 10px; 
}

button:hover {
    color: red
}