/* form {
    border: 2px solid grey;
    padding: 20px;
}

.form_header {
    border: 2px solid grey;
    padding: 10px;
}

.about_text {
    
}

.form_body {
    border: 2px solid grey;
    padding: 10px;
    margin-top: 5px;
}

.form_footer {
    border: 2px solid grey;
    padding: 10px;
    margin-top: 5px;
} */

.finish {
    margin-top: 20px;
}